# Xcode
DerivedData/
build/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
.swiftpm/
Packages/

# User-specific
*.DS_Store